
      body {
        background-color: #f1f1f1;
      }

      .clock {
        font-size: 48px;
        text-align: center;
        margin-top: 200px;
        color: #333;
        font-family: Arial, sans-serif;
      }
